@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
h1 span{ 
    padding: 0 0 30px;
    text-shadow: 0.6px 0.8px 1.6px black;
 }

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col-md-4 {
    width: 300px;
    height: auto;
}

.pricingTable{
    background: #004D58;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}
.pricingTable .pricingTable-header{
    color: #fff;
    background: #c90a39;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
    padding: 90px 0 30px;
    border-bottom: 7px solid rgba(0,0,0,0.2);
}
.pricingTable .title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 7px;
}
.pricingTable .price-value{ transition: all 0.3s ease 0s; }
.pricingTable:hover .price-value{ transform: rotateY(360deg); }
.pricingTable .currency{
    font-size: 30px;
    vertical-align: top;
    margin-top: 8px;
    display: inline-block;
}
.pricingTable .amount{
    font-size: 50px;
    font-weight: 700;
}
.pricingTable .month{
    font-size: 20px;
    font-weight: 500;
    line-height: 10px;
    text-transform: uppercase;
    display: block;
}
.pricingTable .pricing-content{
    background: #dbdbdb;
    padding: 0;
    margin: 0;
    list-style: none;
}
.pricingTable .pricing-content li{
    color: #777;
    font-size: 17px;
    line-height: 60px;
}
.pricingTable .pricing-content li:nth-child(even){ background: #e7e7e7; }
.pricingTable .pricingTable-signup{
    padding: 30px 0 50px;
    border-top: 5px solid rgba(0,0,0,0.3);
}
.pricingTable .pricingTable-signup a{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.pricingTable:hover .pricingTable-signup a{ text-shadow: 2px 4px 3px rgba(0,0,0,0.5); }
.pricingTable:hover .pricingTable-signup a:hover{ 
    letter-spacing: 3px; 
    text-decoration: none;
}
.pricingTable.green .pricingTable-header{ background: #6da000; }
.pricingTable.blue .pricingTable-header{ background: #3867d6; }
@media only screen and (max-width: 990px){
    .pricingTable{ margin: 0 0 30px; }
}